// Smooth theme transition
html {
  transition:
    background-color 0.6s ease,
    color 0.6s ease;
}

* {
  transition:
    background-color 0.6s ease,
    border-color 0.6s ease;
}

body {
  background-size: 20px 20px;
}

html[saved-theme="light"] body {
  background-image: radial-gradient(
    circle 6px at 50% 50%,
    rgba(0, 0, 0, 0.04) 60%,
    transparent 100%
  );
}

html[saved-theme="dark"] body {
  background-image: radial-gradient(
    circle 6px at 50% 50%,
    rgba(255, 255, 255, 0.01) 60%,
    transparent 100%
  );
}

.sidebar.left {
  padding-left: 0.5rem !important;
}

.sidebar.right {
  padding-right: 0.5rem !important;
}

img[alt*="center"] {
  display: block;
  margin-inline: auto !important;
}

html {
  font-size: 125%; // roughly equivalent to browser zoom at 110%
}
